@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

// variables:
$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);
$White: hsl(0, 0%, 100%);
$Off-white: hsl(0, 0%, 94%);
$Light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$Off-black: hsl(0, 0%, 8%);
$Off-light-black: hsl(0, 0%, 20%);

// Set base styles:
* {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Styles:
body {
    background-color: $Off-white;
    .main {
        background-color: $White;
        border-radius: 30px 30px 35% 30px;
        height: 650px;
        width: 840px;
        margin: 170px auto;
        padding: auto 0;

        .input-date-age {
            display: flex;
            margin: 0 240px 0 55px;
            padding-top: 50px;
            .input {
                flex-direction: column;
                label {
                    width: 100%;
                    font-size: .6rem;
                    color: $smokey-grey;
                    letter-spacing: .1rem;
                    padding: 20px 0;
                }
                input {
                    all: unset;
                    width: 90%;
                    height: 70px;
                    border-radius: 10px;
                    border-style: solid;
                    border-color: $Light-grey;
                    border-width: 1px;
                    &::placeholder {
                        color: $Light-grey;
                    }
                }  
            }
        }

        .separator-button{
            margin: 0 57px 0 55px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 730px;
            height: 100px;

            hr {
                flex-grow: 1;
                border: none;
                border-radius: 2px;
                border-top: 5px solid $Light-grey;
                width: 50%;                
            }
            button {
                width: 96px;
                height: 96px;
                border-radius: 50%;
                border-style: none;
                background-color: $purple;
                display: flex;
                align-items: center;
                justify-content: center;
                
                &:hover {
                    cursor: pointer;
                    background-color: $Off-black;
                } 

                &:active {
                    background-color: $Off-light-black;
                }
            }
        }

        .output-age {
            margin: 0 0 0 55px;
            font-style: italic;
            .number, .letter {
                font-size: 3rem;
                width: 100%;
                font-weight: 800;
                line-height: 3.4rem;
            }
            .number {
                color: $purple;
                letter-spacing: .3rem;
            }
            .letter {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #main { 
        border-bottom-right-radius: 19.5%;
        width: 600px;
        height: 750px;
       
        .form {
            width: 600px;
            .input-date-age {
                width: 80%;
                margin-right: 55px;
                .input {
                    input {
                        width: 90%;
                    }
                }
            }
            .separator-button {
                width: 77.6%;
                margin-top: 55px;
                margin-bottom: 50px;
                
                button {
                    position: absolute;
                    left: 43.5%;
                }
            } 
        }
        .output-age {
            .number,
            .letter {
              font-size: 2.5rem; /* Tamaño de fuente ajustado */
              font-weight: 800; /* Peso de fuente ajustado */
            }
          }
    }
}




.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}